{% extends "_layouts/main" %}

{% block main %}

{% include '_includes/banner/banner' %}

<!-- main-content-wrap start -->
<div class="main-content-wrap about-us-page about-area">
    <!-- about-area start -->
    <div class="about-area margin-bottom-double">
        <div class="container">
            <div class="row">
                {% for block in entry.sectionDescriptions.all() %}
                {% switch block.type %}
                {% case 'sectionDescriptions' %}
                {% if block.imageSingleSwitch %}
                <div class="col-lg-6">
                    <div class="about-contents">
                        <h3>{{ block.sectionTitle }}</h3>
                        <p>{{ block.sectionDescription }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-image">
                        <a href="#"><img src="{{ block.sectionImage.one().getUrl() }}" alt="{{ block.altField }}"></a>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6">
                    <div class="about-image">
                        <a href="#"><img src="{{ block.sectionImage.one().getUrl() }}" alt="{{ block.altField }}"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-contents">
                        <h3>{{ block.sectionTitle }}</h3>
                        <p>{{ block.sectionDescription }}</p>
                    </div>
                </div>
                {% endif %}
                {% endswitch %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% include '_includes/testimonials/testimonials' %}
    
    {% include '_includes/brands/brands' %}

</div>
<!-- main-content-wrap end -->

{% endblock %}