{% extends "_layouts/main" %}

{% block main %}

{% for entry in craft.entries.section('testimonials').all() %}
{% include '_includes/banner/banner' %}
{% endfor %}
 
{% extends "_layouts/main" %}

<!-- Testimonials -->
<section class="container main-content-wrap testimonials">
    {% paginate craft.entries.section('testimonials').limit(9) as testimonials %}
    <div class="row testimonial-group">
        {% for entry in testimonials %}
        <div class="col-md-6 col-lg-4 testimonial">
            {% for block in entry.testimonialImage.all() %}
            {% if block.type == 'testimonialImage' %}
            <img class="testimonial-photo" src="{{ block.testimonialImage.one().getUrl('fiveSeventySixFiveSeventySix') }}" alt="{{ block.altField }}">
            {% endif %}
            {% endfor %}
            <h2>{{ entry.testimonialName }}</h2>
            <h4>{{ entry.testimonialOccupation }}</h4>
            <h5>{{ entry.testimonialOrganization }}</h5>
            <p>{{ entry.testimonialDescription }}</p>  
        </div>
        {% endfor %}
    </div>
    <!-- paginatoin-area start -->
    <div class="paginatoin-area testimonial-pagination">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6">
                <p>Showing 10-13 of 13 item(s) </p>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <ul class="pagination-box">
                    {% if paginate.prevUrl %}
                    <li><a class="Previous" href="{{ paginate.prevUrl }}">Previous</a>
                    </li>
                    {% endif %}

                    {% for page, url in paginate.getPrevUrls(3) %}
                    <li><a href="{{ url }}">{{ page }}</a></li>
                    {% endfor %}

                    <li class="active"><a href="#">{{ paginate.currentPage }}</a></li>

                    {% for page, url in paginate.getNextUrls(3) %}
                    <li><a href="{{ url }}">{{ page }}</a></li>
                    {% endfor %}

                    {% if paginate.nextUrl %}
                    <li>
                      <a class="Next" href="{{ paginate.nextUrl }}"> Next </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- paginatoin-area end -->
</section>
<!-- Testimonials End -->

{#{% include '_includes/brands/brands' %}#}

{% endblock %}