{% extends "_layouts/main" %}

{% block main %}

{% for entry in craft.entries.section('productsHome').all() %}
{% include '_includes/banner/banner' %}
{% endfor %}

<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb product-details-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6">
                <div class="product-details-images">
                    <div class="product_details_container">
                        <!-- product_big_images start -->
                        <div class="product_big_images-right">
                            <div class="portfolio-full-image tab-content">
                                {% for block in entry.productPageImages.all() %}
                                {% if block.type == "productImages" %}
                                {% set counter = ( counter | default(0) ) + 1 %}
                                <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %} product-image-position" id="img-tab-{{ counter }}">
                                    <a href="{{ block.productImage.one().getUrl() }}" class="img-poppu">
                                        <img src="{{ block.productImage.one().getUrl() }}" alt="{{ block.altField }}">
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- product_big_images end -->
                        
                        <!-- Start Small images -->
                        <ul class="product_small_images-left vartical-product-active nav" role="tablist">
                            {% for block in entry.productPageImages.all() %}
                            {% if block.type == "productImages" %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <li role="presentation" class="pot-small-img {% if loop.first %}active{% endif %}">
                                <a href="#img-tab-{{ counter }}" role="tab" data-toggle="tab">
                                    <img src="{{ block.productImage.one().getUrl() }}" alt="{{ block.altField }}">
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <!-- End Small images -->
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6">
                <!-- product_details_info start -->
                <div class="product_details_info">
                    <h2>{{ entry.title }}</h2>
                    <!-- pro_details start -->
                    <div class="pro_details">
                        {{ entry.productDescription }}
                    </div>
                    <!-- pro_details end -->
                    <!-- pro_dtl_prize start -->
                    <ul class="pro_dtl_prize">
                        <!-- <li class="old_prize">$15.21</li> -->
                        <li class="price">${{ entry.productPrice }} <span class="currency">CAD</span></li>
                        <li>{{ entry.productQuantity }} <span class="qty">QTY</span></li>
                    </ul>
                    <!-- pro_dtl_prize end -->
                    <!-- product-quantity-action start -->
                    <!-- <div class="product-quantity-action">
                        <div class="prodict-statas"><span>Quantity :</span></div>
                        <div class="product-quantity">
                            <form action="#">
                                <div class="product-quantity">
                                    <div class="cart-plus-minus">
                                        <input value="1" type="number">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <!-- product-quantity-action end -->
                    <!-- pro_dtl_btn start -->
                    <!-- <ul class="pro_dtl_btn">
                        <li><a href="#"  class="buy_now_btn">buy now</a></li>
                    </ul> -->
                    <!-- pro_dtl_btn end -->
                </div>
                <!-- product_details_info end -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-details-tab mt--60">
                    <ul role="tablist" class="mb--50 nav">
                        <!-- <li class="active" role="presentation">Description</li> -->
                        <li class="active" role="presentation">
                            <a data-toggle="tab" role="tab" href="#video" class="active">Video</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" role="tab" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="product_details_tab_content tab-content">
                    <!-- Start Single Content -->
                    {% if entry.productVideo %}
                    <div class="product_tab_content tab-pane active" id="video" role="tabpanel">
                        <div class="product_description_wrap">
                            <div class="product_desc mb--30">
                                <h2 class="title_3">{{ entry.productVideoTitle }}</h2>
                                <div class="responsive-video">
                                {{ entry.productVideo | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End Single Content -->
                    <!-- Start Single Content -->
                    <div class="product_tab_content tab-pane" id="reviews" role="tabpanel">
                        <div class="pro_feature">
                            <h2 class="title_3">Reviews</h2>
                            <!-- DISQUS -->
                            <div class="comments" id="disqus_thread"></div>
                            <script>
                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://office-ally.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->

{% endblock %}