{% extends "_layouts/main" %}

{% block main %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Blog</h2>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- main-content-wrap start -->
<div class="main-content-wrap blog-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <!-- shop-sidebar-wrap start -->
                <div class="shop-sidebar-wrap">
                    <!-- shop-sidebar start -->
                    <div class="shop-sidebar mb--30">
                        <h4 class="title">Search</h4>
                        <div class="search-post">
                            {% include 'search/_search-form' %}
                        </div>
                    </div>
                    <!-- shop-sidebar end -->
                    
                    <!-- shop-sidebar start -->
                    <div class="shop-sidebar mb--30">
                        <h4 class="title">Categories</h4>
                        <ul>  
                            {% set entriesIds = craft.entries.section('blog').ids() %}
                            {% set categories = craft.categories.relatedTo({ sourceElement:entriesIds }).all() %}

                            {% for category in categories %}
                            {% set entriesCount = craft.entries.relatedTo(category).count() %}
                            <li><a href="{{ category.url }}">{{ category.title }} ({{ entriesCount }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- shop-sidebar end -->
                </div>
                <!-- shop-sidebar-wrap end -->
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <!-- blog-wrapper start -->
                <div class="blog-wrapper">
                    {% paginate craft.entries.section('blog').limit(10) as blogEntries %}
                    <!-- blog-wrap start -->
                    <div class="blog-wrap row">
                        <!-- single-blog-area start -->
                        {% for entry in blogEntries %}
                        <div class="col-md-6 col-lg-6 single-blog-area">
                            <div class="blog-image">
                                {% for block in entry.blogImage.all() %}
                                {% if block.type == 'blogImage' %}
                                <a href="{{ entry.url }}"><img src="{{ block.blogImage.one().getUrl() }}" alt="{{ block.altField }}"></a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="blog-contend">
                                <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                                <div class="blog-date-categori">
                                    <ul>
                                        <li><i class="ion-ios-person"></i>Admin</li>
                                        {% set category = entry.blogCategories.one() %}
                                        <li><a href="{{ category.url }}"><i class="ion-ios-pricetags"></i>{{ category.title }}</a></li>
                                        <li><i class="ion-ios-clock"></i>{{ entry.postDate | date('M d, Y') }}</li>
                                    </ul>
                                </div>
                                <p>{{ entry.blogSummary }}</p>
                                <div class="mt-30 blog-more-area">
                                    <a href="{{ entry.url }}" class="blog-btn btn">Read more</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- single-blog-area end -->
                    </div>
                    <!-- blog-wrap end -->
                    
                    <!-- paginatoin-area start -->
                    <div class="paginatoin-area">
                        <div class="row">
                            <!-- <div class="col-lg-6 col-md-6">
                                <p>Showing 10-13 of 13 item(s) </p>
                            </div> -->
                            <div class="col-lg-6 col-md-6">
                                <ul class="pagination-box">
                                    {% if paginate.prevUrl %}
                                    <li><a class="Previous" href="{{ paginate.prevUrl }}">Previous</a>
                                    </li>
                                    {% endif %}

                                    {% for page, url in paginate.getPrevUrls(3) %}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                    {% endfor %}

                                    <li class="active"><a href="#">{{ paginate.currentPage }}</a></li>

                                    {% for page, url in paginate.getNextUrls(3) %}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                    {% endfor %}

                                    {% if paginate.nextUrl %}
                                    <li>
                                      <a class="Next" href="{{ paginate.nextUrl }}"> Next </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- paginatoin-area end -->
                </div>
                <!-- blog-wrapper end -->
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->

{% endblock %}