{% extends "_layouts/main" %}

{% block main %}

{% include '_includes/banner/banner' %}

<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb contact-us-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info-wrapper">
                    <h2 class="orange">{{ entry.contactTitle }}</h2>
                    <p>{{ entry.contactDescription }}</p>
                    <ul class="contact-info-list">
                        <li> <strong>Address:</strong> {{ footer.address }}</li>
                        <li><strong>Phone:</strong> <a href="tel:819-328-8629">{{ footer.phone }}</a></li>
                        <li><strong>Email:</strong> {{ footer.eMail }}</li>
                    </ul>
                    {#{{ entry.contactDetails }}</p>#}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form-warp">
                    <form id="contact-form" action="mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-10">
                                <input type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="col-lg-10">
                                <input type="email" name="email" placeholder="Mail Address">
                            </div>
                            <div class="col-lg-10">
                                <textarea name="message" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="contact-submit-btn">
                            <button type="submit" class="submit-btn">Send Email</button>
                            <p class="form-messege"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->

<!-- <div class="google-map-area">
    <div id="map-inner" class="map"></div>
</div> -->

{% endblock %}