{% extends "_layouts/main" %}
{% block navigation %}

<!-- header-area start -->
<div class="header-area">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-image: url({{ entry.backgroundTexture.one().getUrl() }})";>
        <div class="container main-menu-area">
            <a class="logo navbar-brand" href="/"><img src="{{ siteUrl }}images/office-ally-logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/we-buy">We Buy!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- header-area end -->

{% endblock %}
{% block main %}

<!-- Hero Slider Start -->
<div class="home-banner hero-slider hero-slider-one" style="background-image: url({{ entry.backgroundTexture.one().getUrl() }})">
    <!-- Single Slide Start -->
    {% for block in entry.homeSlider.all() %}
    {% if block.type == "homeSlider" %}
    <div class="single-slide">
        <!-- Hero Content One Start -->
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 d-block d-md-none">
                    <img src="{{ block.sliderImage.one().getUrl('fiveOFourFiveOFour') }}" alt="{{ block.altField }}">
                </div>
                <div class="col-lg-6 col-md-7 col-sm-12"> 
                    <div class="slider-text-info">
                        <h1 class="orange">{{ block.sliderTitle }}</h1>
                        {{ block.subTitle }}
                        <a href="{{ block.buttonLink }}" class="btn slider-btn uppercase"><span>{{ block.buttonName }}</span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12"> 
                    <div class="slider-inner-image">
                        <img src="{{ block.sliderImage.one().getUrl('fiveOFourFiveOFour') }}" alt="{{ block.altField }}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Content One End -->
    </div>
    <!-- Single Slide End -->
    {% endif %}
    {% endfor %}
</div>
<!-- Hero Section End -->

<!-- Single Slide End -->
<section style="background-image: url({{ entry.backgroundTexture.one().getUrl() }})">
    <div class="container top-brands-logos">
        <div class="row">
            {% for block in entry.brands.all() %}
            {% if block.type == "brandImage" %}
            <div class="col-sm-33 col-md-20">
                <img class="brand-image" src="{{ block.brandImage.one().getUrl() }}" alt="{{ block.altField }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- banner-area start -->
<section style="background-image: url({{ entry.backgroundTexture.one().getUrl() }})">
    <div class="container">
        <div class="row">
            {% for block in entry.featuredSection.all() %}
            {% if block.type == "featuredSection" %}
            <div class="col-lg-4 col-md-4">
                <!-- single-banner start -->
                <div class="featured-background">
                    <a href="{{ block.featuredUrl }}"><h3 class="orange">{{ block.featuredTitle }}</h3></a>
                    <a href="{{ block.featuredUrl }}" class="btn-3">{{ block.featuredDescription }}</a>
                </div>
                <!-- single-banner end -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- banner-area end -->

<!-- product-area start -->
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title start -->
                <div class="section-title">
                    <h2>{{ entry.productsTitle }}</h2>
                    <p>{{ entry.subtitle }}</p>
                </div>
                <!-- section-title end -->
            </div>
        </div>
        <!-- product-warpper start -->
        <div class="product-warpper">
            <div class="row">
                {% for entry in craft.entries.section('products').limit(90).all() %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                        <div class="product-image">
                            {% for block in entry.productDisplayImages.all() %}
                            {% if block.type == "angleImage" %}
                            <a class="img-bottom" href="{{ entry.url }}"><img src="{{ block.angleImage.one().getUrl('fourThirtyTwoFiveSeventySix') }}" alt="{{ block.angleAltField }}"></a>
                            {% endif %}
                            {% if block.type == "frontImage" %}
                            <a class="img-top" href="{{ entry.url }}"><img src="{{ block.frontImage.one().getUrl('fourThirtyTwoFiveSeventySix') }}" alt="{{ block.frontAltField }}"></a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product-content">
                            <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                            <div class="price-box">
                                <!-- <span class="old-price">140.00</span> -->
                                <span class="new-price">${{ entry.productPrice }}</span>
                                <span>|</span>
                                <span class="qty">Qty {{ entry.productQuantity }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- single-product-wrap end -->
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- product-warpper end -->
    </div>
</div>
<!-- product-area end -->

{% include '_includes/testimonials/testimonials' %}

{% include '_includes/brands/brands' %}

{% endblock %}